@media only screen and (max-width:550px){
    .container {
    width:100%;
    grid-template-columns:1fr;
    }
}


@media only screen and (max-width:550px){
    .main-news {
    width:100%;
    grid-template-columns:1fr;
    }
}

@media only screen and (max-width:550px){
    .aside {
    display:none;
    }
}